body {
  background-color: tomato;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first {
  background-color: wheat;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.in {
  background-color: cadetblue;
  width: 35px;
  height: 35px;
  border: 2px solid white;
}
#top {
  margin-top: 15px;
}
#mid {
  width: 100px;
  border: 3px dotted white;
}
#bottom {
  margin-bottom: 15px;
}
